* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #c7c7d1;
    color: #0e0e10;

    background-image: url("../img/BAH_06.png");
    /* background-size: cover; */
    /* background-size: contain; */
    background-repeat: no-repeat;
    
    
}

.hide-content {
    display: none;
}